.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(4, 4, 43);
    color: white;
}

.header a {
    text-decoration: none;
    padding: 0 10px;
    color: white;
}