.single-card-container {
    background-color: rgb(64, 70, 70);
    border-radius: 5px;
    margin: 50px;
    box-shadow: 10px 5px 5px rgb(144, 138, 138);
}

.single-card-container img {
    width: 100%;
    height: 100%;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
}

.card-details a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(64, 70, 70);
    color: white;
    font-size: larger;
    border: none;
    border-radius: 5px;
}